<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Dramaturg: Greek Texts for Readers</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Optional web fonts – fail gracefully -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&amp;display=swap" media="print" onload="this.media='all'">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400..800&amp;display=swap" rel="stylesheet"  media="print" onload="this.media='all'">

</head>

<bodyx>
    <div id="masthead" class="sansfont">Furman Classics. <a href="https://github.com/Eumaeus/Dramaturg.jl">Dramaturg Editions</a>. C. Blackwell, 2026. CC-BY-NC. Code and instructions on <a href="https://github.com/Eumaeus/Dramaturg.jl">Github</a>.</div>

    <div id="main" style="font-size:1.5rem;">


        <h1>Dramaturg</h1>

        Digital Editions of Greek texts for readers.

        <h2>Aristophanes</h2>
        <ol>
            <li><a href="Aristophanes_Acharnians">Aristophanes 1: <em>Acharnians</em></a></li>
            <li><a href="Aristophanes_Knights">Aristophanes 2: <em>Knights</em></a></li>
            <li><a href="Aristophanes_Clouds">Aristophanes 3: <em>Clouds</em></a></li>
            <li><a href="Aristophanes_Wasps">Aristophanes 4: <em>Wasps</em></a></li>
            <li><a href="Aristophanes_Peace">Aristophanes 5: <em>Peace</em></a></li>
            <li><a href="Aristophanes_Birds">Aristophanes 6: <em>Birds</em></a></li>
            <li><a href="Aristophanes_Lysistrata">Aristophanes 7: <em>Lysistrata</em></a></li>
            <li><a href="Aristophanes_Thesmophoriazousae">Aristophanes 8: <em>Thesmophoriazousae</em></a></li>
            <li><a href="Aristophanes_Frogs">Aristophanes 9: <em>Frogs</em></a></li>
            <li><a href="Aristophanes_Ecclesiazousae">Aristophanes 10: <em>Ecclesiazousae</em></a></li>
            <li><a href="Aristophanes_Wealth">Aristophanes 11: <em>Wealth</em></a></li>
        </ol>

        <h2>Aeschylus</h2>
        <ol>
            <li><a href="Aeschylus_Suppliants">Aeschylus 1: <em>Suppliants</em></a></li>
            <li><a href="Aeschylus_Persians">Aeschylus 2: <em>Persians</em></a></li>
            <li><a href="Aeschylus_Prometheus">Aeschylus 3: <em>Prometheus Bound</em></a></li>
            <li><a href="Aeschylus_Seven">Aeschylus 4: <em>Seven Against Thebes</em></a></li>
            <li><a href="Aeschylus_Agamemnon">Aeschylus 5: <em>Agamemnon</em></a></li>
            <li><a href="Aeschylus_Choephoroi">Aeschylus 6: <em>Choephoroi</em></a></li>
            <li><a href="Aeschylus_Eumenides">Aeschylus 7: <em>Eumenides</em></a></li>
        </ol>

        <h2>Sophocles</h2>
        <ol>
            <li><a href="Sophocles_Trachiniae">Sophocles 1: <em>Trachiniae</em></a></li>
            <li><a href="Sophocles_Antigone">Sophocles 2: <em>Antigone</em></a></li>
            <li><a href="Sophocles_Ajax">Sophocles 3: <em>Ajax</em></a></li>
            <li><a href="Sophocles_Oedipus">Sophocles 4: <em>Oedipus Tyrannos</em></a></li>
            <li><a href="Sophocles_Electra">Sophocles 5: <em>Electra</em></a></li>
            <li><a href="Sophocles_Philoctetes">Sophocles 6: <em>Philoctetes</em></a></li>
            <li><a href="Sophocles_Colonus">Sophocles 7: <em>Oedipus at Colonus</em></a></li>
        </ol>

        <h2>Euripides</h2>
        <ol>
            <li><a href="Euripides_Cyclops">Euripides 1: <em>Cyclops</em></a></li>
            <li><a href="Euripides_Alcestis">Euripides 2: <em>Alcestis</em></a></li>
            <li><a href="Euripides_Medea">Euripides 3: <em>Medea</em></a></li>
            <li><a href="Euripides_Heracleidae">Euripides 4: <em>Heracleidae</em></a></li>
            <li><a href="Euripides_Hippolytus">Euripides 5: <em>Hippolytus</em></a></li>
            <li><a href="Euripides_Andromache">Euripides 6: <em>Andromache</em></a></li>
            <li><a href="Euripides_Hecuba">Euripides 7: <em>Hecuba</em></a></li>
            <li><a href="Euripides_Suppliants">Euripides 8: <em>Suppliants</em></a></li>
            <li><a href="Euripides_Heracles">Euripides 9: <em>Heracles</em></a></li>
            <li><a href="Euripides_Ion">Euripides 10: <em>Ion</em></a></li>
            <li><a href="Euripides_Trojan">Euripides 11: <em>The Trojan Women</em></a></li>
        </ol>

        <h2>Other Texts</h2>
        <ol>
            <li><a href="Herodotus">Herodotus <em>Histories</em></a></li>
            <li><a href="Thucydides">Thucydides <em>Histories</em></a></li>
            <li><a href="The_Homeric_Hymn_to_Demeter">The <em>Homeric Hymn to Demeter</em></a></li>
            <li><a href="Iliad">The Homeric <em>Iliad</em></a></li>
            <li><a href="Odyssey">The Homeric <em>Odyssey</em></a></li>
        </ol>

        </ol>

    </div>

</body>

</html>