
#### `.gitignore` (create this file)
```gitignore
# Julia
*.jl.cov
*.jl.mem
*.jl.so
*.jl.tmp
Manifest.toml
# Project
/docs/build/
/test/tmp/
/examples/data/*.csv
/html/pages/
_cwb/
Dramaturg.code-workspace
data/html_temp/
morph/output/
editions/html/Iliad
editions/html/Odyssey
editions/html/The_Homeric_Hymn_to_Demeter
editions/html/Oedipus
editions/html/Herodotus
#*.log
.DS_Store
data/morphology/demeter_morph.cex
data/morphology/frogs_morph.cex
data/morphology/herodotus_morph.cex
data/morphology/iliad_morph.cex
data/morphology/odyssey_morph.cex
data/morphology/oedipus_morph.cex
data/morphology/Greek_Morphology-old*
editions/html/Aristophanes_Frogs/pages/chunk_002.html
editions/html/Aristophanes_Frogs/pages/chunk_003.html
editions/html/Aristophanes_Frogs/pages/chunk_004.html
editions/html/Aristophanes_Frogs/pages/chunk_005.html
editions/html/Aristophanes_Frogs/pages/chunk_006.html
editions/html/Aristophanes_Frogs/pages/chunk_007.html
editions/html/Aristophanes_Frogs/pages/chunk_008.html
editions/html/Aristophanes_Frogs/pages/chunk_009.html
editions/html/Aristophanes_Frogs/pages/chunk_010.html
editions/html/Aristophanes_Frogs/pages/chunk_011.html
editions/html/Aristophanes_Frogs/pages/chunk_012.html
editions/html/Aristophanes_Frogs/pages/chunk_013.html
editions/html/Aristophanes_Frogs/pages/chunk_014.html
editions/html/Aristophanes_Frogs/pages/chunk_015.html
editions/html/Aristophanes_Frogs/pages/chunk_016.html
editions/html/Aristophanes_Frogs/pages/chunk_017.html
editions/html/Aristophanes_Frogs/pages/chunk_018.html
editions/html/Aristophanes_Frogs/pages/chunk_019.html
editions/html/Aristophanes_Frogs/pages/chunk_020.html
editions/html/Aristophanes_Frogs/pages/chunk_021.html
editions/html/Aristophanes_Frogs/pages/chunk_022.html
editions/html/Aristophanes_Frogs/pages/chunk_023.html
editions/html/Aristophanes_Frogs/pages/chunk_024.html
editions/html/Aristophanes_Frogs/pages/chunk_025.html
editions/html/Aristophanes_Frogs/pages/chunk_026.html
editions/html/Aristophanes_Frogs/pages/chunk_027.html
editions/html/Aristophanes_Frogs/pages/chunk_028.html
editions/html/Aristophanes_Frogs/pages/chunk_029.html
editions/html/Aristophanes_Frogs/pages/chunk_030.html
editions/html/Aristophanes_Frogs/pages/chunk_031.html
editions/html/Aristophanes_Frogs/pages/chunk_032.html
editions/html/Aristophanes_Frogs/pages/chunk_033.html
editions/html/Aristophanes_Frogs/pages/chunk_034.html
editions/html/Aristophanes_Frogs/pages/chunk_035.html
editions/html/Aristophanes_Frogs/pages/chunk_036.html
editions/html/Aristophanes_Frogs/pages/chunk_037.html
editions/html/Aristophanes_Frogs/pages/chunk_038.html
editions/html/Aristophanes_Frogs/pages/chunk_039.html
editions/html/Aristophanes_Frogs/pages/chunk_040.html
editions/html/Aristophanes_Frogs/pages/chunk_041.html
editions/html/Aristophanes_Frogs/pages/chunk_042.html
editions/html/Aristophanes_Frogs/pages/chunk_043.html
editions/html/Aristophanes_Frogs/pages/chunk_044.html
editions/html/Aristophanes_Frogs/pages/chunk_045.html
editions/html/Aristophanes_Frogs/pages/chunk_046.html
editions/html/Aristophanes_Frogs/pages/chunk_047.html
editions/html/Aristophanes_Frogs/pages/chunk_048.html
editions/html/Aristophanes_Frogs/pages/chunk_049.html
editions/html/Aristophanes_Frogs/pages/chunk_050.html
editions/html/Aristophanes_Frogs/pages/chunk_051.html
editions/html/Aristophanes_Frogs/pages/chunk_052.html
editions/html/Aristophanes_Frogs/pages/chunk_053.html
editions/html/Aristophanes_Frogs/pages/chunk_054.html
editions/html/Aristophanes_Frogs/pages/chunk_055.html
editions/html/Aristophanes_Frogs/pages/chunk_056.html
editions/html/Aristophanes_Frogs/pages/chunk_057.html
editions/html/Aristophanes_Frogs/pages/chunk_058.html
editions/html/Aristophanes_Frogs/pages/chunk_059.html
editions/html/Aristophanes_Frogs/pages/chunk_060.html
editions/html/Aristophanes_Frogs/pages/chunk_061.html
editions/html/Aristophanes_Frogs/pages/chunk_062.html
editions/html/Aristophanes_Frogs/pages/chunk_063.html
editions/html/Aristophanes_Frogs/pages/chunk_064.html
editions/html/Aristophanes_Frogs/pages/chunk_065.html
editions/html/Aristophanes_Frogs/pages/chunk_066.html
editions/html/Aristophanes_Frogs/pages/chunk_067.html
editions/html/Aristophanes_Frogs/pages/chunk_068.html
editions/html/Aristophanes_Frogs/pages/chunk_069.html
editions/html/Aristophanes_Frogs/pages/chunk_070.html
morph/source-data/words.txt
