
#### `.gitignore` (create this file)
```gitignore
# Julia
*.jl.cov
*.jl.mem
*.jl.so
*.jl.tmp
Manifest.toml
# Project
/docs/build/
/test/tmp/
/examples/data/*.csv
/html/pages/
_cwb/
Dramaturg.code-workspace
data/html_temp/
morph/output/
#*.log
.DS_Store
.gitignore
morph/source-data/words.txt
_new_texts/*
editions/html/*
!editions/html/Aristophanes/
editions/html/Aristophanes/*
!editions/html/Aristophanes/Frogs/
editions/html/Aristophanes/Frogs/pages/*
!editions/html/Aristophanes/Frogs/pages/chunk_001.html
data/morphology/Greek_Morphology*
source-data/morphology/Greek_Morphology.cex
