<!DOCTYPE html>
<html lang="grc">
<head>
    <meta charset="UTF-8">
    <title>Greek Reader — {{title}}</title>
    <link rel="stylesheet" href="../css/style.css"> <!-- your CSS will live here -->
</head>
<body>
    <nav>{{navigation}}</nav>
    <div id="title">
        <div id="work_title">
            {{title}} ({{passage_span}})
        </div>
        <div id="bibliography">
            <!-- config.toml: ["ouput"]["md_bibliography"] --> 
        </div>
    </div>
    <div id="text">
        {{frontmatter}}   <!-- config.toml: ["output"]["md_frontmatter"] -->
    </div>
    <div id="toc">
        {{generated_toc}}
    </div>
    <script src="../js/interactive.js"></script>
</body>
</html>